/* Overall Styling */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  background-color: #DCF2FF; /* Light grey background */
  font-family: "Noto Sans", sans-serif;
  color: #333; /* Dark grey text color */
  padding: 20px; /* Add padding for content */
}

/* Heading Styles */
h2 {
  color: #206B7F; /* Dark teal heading */
  font-size: 38px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  color: #2F4858; /* Dark blue subheadings */
  margin-bottom: 10px;
}

/* Paragraph Styles */
p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* List Styles */
#character-list {
  list-style-type: none;
  padding: 0;
  font-size: 18px;
}

#character-list li {
  margin-bottom: 30px;
  border-left: 4px solid #206B7F; /* Dark teal border on list items */
  padding-left: 15px;
}

/* Link Styles */
a {
  text-decoration: none;
  color: #206B7F; /* Dark teal link color */
}

a:hover {
  color: #2F4858; /* Dark blue on hover */
}

/* Additional Styling */
#app {
  padding: 20px;
}
